whq-helper-spa/public/data/xml/adventures/whq-adventures-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="objectiveRoomAdventures">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="objectiveRoom" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="adventure" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flavor" type="xs:string"/>
                    <xs:element name="rules" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                  <xs:attribute name="generic" type="xs:boolean" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
