WhqHelperApp/data/xml/warriors/whq-warriors-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Warhammer Quest warriors schema.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="warriorType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="race" type="xsd:string"/>
      <xsd:element name="counter" type="xsd:string"/>
      <xsd:element name="rules" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:element name="warriors">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="warrior" type="warriorType" maxOccurs="unbounded" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
