WhqHelperApp/data/xml/locations/whq-locations-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Warhammer Quest settlement locations schema.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="settlementAvailabilityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="city"/>
      <xsd:enumeration value="town"/>
      <xsd:enumeration value="village"/>
      <xsd:enumeration value="outskirts"/>
      <xsd:enumeration value="special"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="availableListType">
    <xsd:sequence>
      <xsd:element name="type" type="settlementAvailabilityType" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="visitorListType">
    <xsd:sequence>
      <xsd:element name="visitor" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="locationType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="available" type="availableListType"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="visitors" type="visitorListType"/>
      <xsd:element name="rules" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:element name="locations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="location" type="locationType" maxOccurs="unbounded" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
